<div class="panel panel-default">
  <div class="panel-heading">Item search</div>
  <div class="panel-body">
    <div>
      Search for product:<br>
      <input [(ngModel)]="productSearchTerm" 
             name="txtProductSearchTerm" 
             id="txtProductSearchTerm" 
             #txtProductSearchTerm
             (keyup.enter)="handleProductSearch($event)" 
             />
      <input type="button" value="Search" (click)="handleProductSearch()" class="btn btn-primary" />
    </div>
    <div>
      <table class="table table-striped table-hover" *ngIf="showProductItems">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Unit Price</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of productItems">
            <td>
              {{record.name}}<br>
              {{record.categoryPath}}
            </td>
            <td style="text-align:right;">${{record.salePrice}}</td>
            <td>
              <button  (click)="handleProductItemSelected(record)" class="btn btn-primary"> Select </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>