<mat-toolbar>
    <span>Item Search</span>
</mat-toolbar>
  
<mat-card>


  <mat-form-field>
    <input [(ngModel)]="productSearchTerm" 
      name="txtProductSearchTerm" 
      id="txtProductSearchTerm" 
      #txtProductSearchTerm
      (keyup.enter)="handleProductSearch()" 
      matInput placeholder="Search for product"
    />
  </mat-form-field>
  <button  (click)="handleProductSearch()" mat-raised-button color="primary">Search</button> &nbsp;



  <mat-list>
    <mat-list-item *ngFor="let record of productItems">
        <h1 matLine>{{record.name}}</h1>
        <p matLine>{{record.categoryPath}}</p>
        <p matLine>${{record.salePrice}}</p>
        <button  (click)="handleProductItemSelected(record)" mat-raised-button color="primary"> Select </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>


<button routerLink="/edit-shopping-list/{{shoppingListId}}" class="btn btn-primary" mat-raised-button color="primary"> Back To Shopping List </button>
