<mat-toolbar>
  <span>Edit Shopping List</span>
</mat-toolbar>

<mat-card>
  <button routerLink="/add-shopping-list-item/{{shoppingListId}}" class="btn btn-primary"
    mat-raised-button color="primary"> Add </button>&nbsp;
  <button routerLink="/shopping-list" class="btn btn-primary"
    mat-raised-button color="primary"> Back </button>

  <mat-list>
    <mat-list-item *ngFor="let record of records">
      <h1 matLine><mat-checkbox [(ngModel)]= "record.completed" (change)="onItemCompleted(record)">{{ record.productName }}</mat-checkbox></h1>
      <p matLine>{{ record.productCategory }}</p>
      <p matLine>${{ record.price }}</p>
      <p>
        <button (click)="handleDelete(record)" mat-raised-button color="primary"> Delete </button>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <br>
  <div>Grand Total: ${{ total | number:'1.2-2' }}</div>
</mat-card>
